body {
    margin: 0;
    overflow: hidden;
    user-select: none;
    background: white;
    transition: background 2s;
}

.crt-grid {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5000;
    pointer-events: none;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.15) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.05), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.05));
    background-size: 100% 5px, 5px 100%;
}

.overlay_vignette {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 4999;
    background: radial-gradient(circle, transparent 0%, rgba(0, 0, 0, 0.541) 100%);
    pointer-events: none;
}

.blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    pointer-events: none;
    backdrop-filter: blur(5px);
    -webkit-mask-image: radial-gradient(circle, transparent 20%, black 70%);
    mask-image: radial-gradient(circle, transparent 20%, black 70%);
}

.whole-scene {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    animation: camera-shake 6s ease-in-out infinite;
    transform-origin: center center;
    display: flex;
    align-items: center;
    justify-content: center;
}